.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fotosantojosdamb.appspot.com/o/FOTOSPACE.jpg?alt=media&token=39d574ee-8004-4ce5-bd5b-80737c650858');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 30% 20%;
}